* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --orange: #ff8838;
    --blue: #4296a6;
    --key-blue: #399fab;
    --yellow: #ffdc08;
    --purpleish: #ccd0fa;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--yellow);
}

.calculator {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    border: 2px solid #1b5157;
}

.display {
    height: 100px;
    background-color: var(--purpleish);
    padding: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border-radius: 20px;
    border: 2px solid #1b5157;
}

.keyboard {
    display: flex;
    gap: 10px;
}

.keyboard .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keyboard .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keyboard .row {
    display: flex;
    gap: 10px;
}

.keyboard button {
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.keyboard #zero {
    width: 170px;
}

.keyboard #equals {
    height: 170px;
}

.keyboard .blue {
    background-color: var(--key-blue);
    color: white;
}

.keyboard .orange {
    background-color: var(--orange);
    color: black;
}